html, body {
  height: 100%;
  background-color: #0f0f23;
  font-family: "Source Code Pro";
}

.label {
  word-spacing: -0.25em;
}

.tabs ul {
  border: none;
}

.tabs.is-boxed a {
  border-radius: 4px;
}

html, body, textarea, .textarea, .divider, .label, .tabs a, .title, .subtitle, .button, .button:focus, .button:hover, .button:active {
  color: #cccccc;
}

.button, .button:focus, .button:hover, .button:active {
  border: none;
  border-color: #0f0f23;
}

.tabs li.is-active a {
  color: #0a0a0a;
}

.button.is-focused:not(:active), .button:focus:not(:active) {
  box-shadow: none;
}

.textarea {
  background-color: rgb(30, 30, 30);
}

::-webkit-input-placeholder {
  color:gray;
}

::-moz-placeholder {
  color:gray;
}

::-ms-placeholder {
  color:gray;
}

::placeholder {
  color:gray;
}

textarea::-webkit-input-placeholder {
  color: gray;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: gray;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: gray;  
}

textarea:-ms-input-placeholder {
  color: gray;  
}

textarea::placeholder {
  color: gray;  
}

.textarea::-webkit-input-placeholder {
  color: gray;
}

.textarea:-moz-placeholder { /* Firefox 18- */
  color: gray;  
}

.textarea::-moz-placeholder {  /* Firefox 19+ */
  color: gray;  
}

.textarea:-ms-input-placeholder {
  color: gray;  
}

.textarea::placeholder {
  color: gray;  
}